.sort span {
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}

.sort span:hover {
	color: var(--primary);
}

.sort span svg {
	display: none;
}

.sort .active svg {
	display: inline-block;

	margin-right: 8px;
}

.sort {
	display: grid;
	grid-template-columns: auto auto;
	gap: 40px;
	justify-items: right;

	align-items: center;
}

.active {
	color: var(--primary);

	font-weight: bold;
}

.icon {
	transform: rotateX(0deg);
	display: inline-block;
}

.activeIcon {
	transform: rotateX(180deg);
}